<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROVA.Properties.Settings.FitnessLinkConnectionString"
            connectionString="Data Source=LAPTOP-LIVIA\SQLEXPRESS02;Initial Catalog=FitnessLink;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>